{% extends 'base.html' %}
{% block base %}
<form action="" method="POST">
    {% csrf_token %}
    <p>Предприятие(служба):<select name="category" >
        {% for c in categories %}
        <option value="{{c.id}}">{{c.title}}</option>
        {% endfor %}
    </select></p>
    <p>Текст:<textarea name="text" cols="90" rows="20"></textarea></p>
    <p>Дата выписки предписания:<input name="date" type="date"></p>
    <p>Дата исполнения:<input name="date_answer" type="date"></p>
    <p>Выполнил(а):<select name="fio">
        {% for c in name %}
        <option value="{{c.id}}">{{c.fio}}</option>
        {% endfor %}
    </select></p>
    <input class="btn btn-primary" type="submit" value="Сохранить">
</form>
{% endblock %}
