{% extends 'base.html' %}
{% block base %}
<div class="row">
    <div class="col-3">
        <ul class="home_category">
            {% for hom in home %}
                {%if hom.is_past_due %}
                    <div class="alert alert-danger" role="alert">
                        <a class="date_a" href="{% url 'detail' pk=hom.id %}">Обновите дату №{{hom.id}}</a>
                    </div>
                {%endif %}
            {% endfor %}

            {% for cat in category %}
                <li><a href="{% url 'category' pk=cat.pk%}" name="categories">{{cat.title}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-9">
        {% for hom in home %}
        <a href="{% url 'detail' pk=hom.id %}">
            <p>№{{hom.id}}. написал(а):{{hom.fio}}</p></a>
        <p class="items-text">{{hom.text}}</p>
        <div>
            категория:{{hom.category}} <span class="margin_2">Дата выписки предписания:{{hom.date}}</span>
        </div>
        <hr>
        {% endfor %}
    </div>
</div>
{% endblock %}